/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "balanced";
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "BAS";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&HMR TILDE ESC  &HMR EXCL Q   &HMR AT W     &HMR HASH E  &HMR DOLLAR R  &HMR PERCENT T    &HMR CARET Y  &HMR AMPS U  &HMR ASTRK I  &HMR LEFT_PARENTHESIS O  &HMR RIGHT_PARENTHESIS P  &kp BSPC
&kp TAB         &HMR LSHFT A  &HMR LCTRL S  &HMR LALT D  &HMR LGUI F    &kp G             &kp H         &HMR RGUI J  &HMR RALT K   &HMR RCTRL L             &HMR RSHFT SEMICOLON      &HMR BACKSLASH SQT
&kp LSHFT       &kp Z         &kp X         &kp C        &kp V          &kp B             &kp N         &kp M        &kp COMMA     &kp DOT                  &kp FSLH                  &kp DELETE
                                            &none        &kp ENTER      &none             &none         &kp SPACE    &none
            >;
        };

        Num_Pad {
            display-name = "Num";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none     &kp ESCAPE    &kp BACKSPACE  &kp N7               &kp N8        &kp N9                &mt PG_UP PAGE_DOWN   &kt N7              &kp N8             &kp NUMBER_9         &kp BACKSPACE    &kp DELETE
&none     &kp UP_ARROW  &kp ENTER      &HMR LCTRL NUMBER_4  &HMR LALT N5  &HMR LGUI NUMBER_6    &mt HOME END          &HMR RGUI NUMBER_4  &HMR RIGHT_ALT N5  &HMR RCTRL NUMBER_6  &mt APOS PERIOD  &mo 2
&kp LEFT  &kp DOWN      &kp RIGHT      &kp NUMBER_1         &kp NUMBER_2  &kp NUMBER_3          &mt LESS_THAN ESCAPE  &kp NUMBER_1        &kp NUMBER_2       &kp NUMBER_3         &kp ENTER        &mt RIGHT_BRACKET LEFT_BRACKET
                                       &none                &kp N0        &kp LEFT_SHIFT        &mt LEFT_SHIFT SPACE  &HMR EQUAL N0       &kp TAB
            >;
        };

        Navigation {
            display-name = "Nav";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &none  &none     &kp UP    &none      &none    &trans  &trans  &trans  &trans  &trans  &trans
&none  &none  &kp LEFT  &kp DOWN  &kp RIGHT  &none    &trans  &trans  &trans  &trans  &trans  &trans
&none  &none  &none     &none     &none      &none    &trans  &trans  &trans  &trans  &trans  &trans
                        &none     &none      &none    &trans  &trans  &trans
            >;
        };
    };
};
